# Prerequisites
*.d
*.xyz
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

data
dependencies
instant-ngp/dependencies
cinema
scripts/*.txt
scripts/sandbox
scripts/diagrams/output
