[submodule "instant-ngp/dependencies/pybind11"]
	path = instant-ngp/dependencies/pybind11
	url = https://github.com/Tom94/pybind11.git
[submodule "instant-ngp/dependencies/eigen"]
	path = instant-ngp/dependencies/eigen
	url = https://github.com/Tom94/eigen.git
[submodule "instant-ngp/dependencies/dlss"]
	path = instant-ngp/dependencies/dlss
	url = https://github.com/NVIDIA/DLSS.git
[submodule "instant-ngp/dependencies/glfw"]
	path = instant-ngp/dependencies/glfw
	url = https://github.com/Tom94/glfw.git
[submodule "instant-ngp/dependencies/imgui"]
	path = instant-ngp/dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "instant-ngp/dependencies/tiny-cuda-nn"]
	path = instant-ngp/dependencies/tiny-cuda-nn
	url = https://github.com/NVlabs/tiny-cuda-nn.git
[submodule "instant-ngp/dependencies/tinylogger"]
	path = instant-ngp/dependencies/tinylogger
	url = https://github.com/Tom94/tinylogger.git
[submodule "instant-ngp/dependencies/args"]
	path = instant-ngp/dependencies/args
	url = https://github.com/Taywee/args.git
